
.messages {
    position: fixed;

    left: 0;
    right: 0;
    top: 80px;
    bottom: 32px;
}

.messages a {
    text-decoration: none;
}

.messages .left_col {
    position: absolute;

    width: 400px;

    left: 0;
    top: 54px;
    bottom: 0;

    padding: 0 10px;

    overflow-y: auto;
    direction: rtl;
}

.messages .right_col {
    position: absolute;

    left: 400px;
    right: 0;
    top: 0;
    bottom: 0;
}

.message_filter {
    position: absolute;

    width: 380px;

    left: 10px;
    top: 10px;
}

.message_filter input {
    text-align: center;
}

.message_userlist {
    direction: ltr;
}

.message_userlist img {
    float: left;
    margin-right: 10px;
    border-radius: 20px;
}

.message_action {
    position: absolute;
    margin: 0;
    bottom: 10px;
    right: 10px;
    left: 0;
}

.message_action .panel-body textarea {
    resize: none;
}

.message_action .panel-footer .btn-primary {
    /*float: right;*/
    margin-left: 10px;
}

.message_history {
    position: absolute;
    margin: 0;

    top: 10px;
    right: 10px;
    left: 0;
    bottom: 200px;

}

.message_history .panel-body {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.message_item {
    float: left;
    max-width: 85%;
}

.message_item img {
    width: 53px;
}

.message_item .media-body {
    max-width: 85%;
    width: auto;
}

.message_item .media-object {
    border-radius: 30px;
}

.message_item .media-bottom {
    float: right;
    font-size: 0.7em;
    color: #999;
}

.message_item .media-bottom .status {
    margin-right: 3px;
}

.message_item .media-bottom .read {
    color: #2aabd2;
}

.message_outgoing {
    float: right;
    direction: rtl;
}

.message_outgoing .media-body {
    direction: ltr;
    text-align: right;
}

.message_outgoing .media-bottom {
    float: left;
}

.modal-body {
    margin: 0 10px;
}

.modal-body td {
}

.modal-body td label {
    font-size: 0.9em;
    font-weight: normal;
}

.modal-body td img {
    margin: 0 10px;
    border-radius: 20px;
    display: inline;
}