a.header-banner:hover{
	text-decoration: none;
}
a.header-banner:visited{
	text-decoration: none;
}
a.header-banner:active{
	text-decoration: none;
}
.header-element{
	height: 80px;
}

.empty{
	width: 30px;
}

.header-banner{
  float: left;
  text-decoration: none;
  height: 80px;
  font-size: 30px;
  font-weight: 900;
  line-height: 20px;
}

.header-search {
  padding: 10px 15px;
  margin-top: 12px;
  margin-right: 15px;
  margin-bottom: 12px;
  margin-left: 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

@media (min-width: 768px) {
  .header-search .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

.header-tabs{
  padding: 10px 15px;
  margin-top: 9px;
  margin-right: 15px;
  margin-bottom: 9px;
  margin-left: 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
}

.header-tabs li {
    display: inline;
    font-size: 30px;
    position: relative;
    padding: 5px;
    height: 40px;
    margin-left: 20px;
}


