{% extends "layout.html" %}

{% block title %}

      Activities

{% endblock %}

{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}" />
{% endblock %}

{% block content  %}
	<div class = "container">
		{% for ID,USERID,CONTENT,SONGNAME,ARTISTNAME,USERNAME,POSTID,FILEPATH in likes_activity %}
		{%if current_user.username != USERNAME%}
        <div class  = "well" id = "like">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"><span class="glyphicon glyphicon-heart" id = "heart-icon"></span> {{USERNAME}} liked your post!</h4>
                <div class="media mt-2">
                    <a class="media-left" href="#">
                    <img class="media-object" src="{{FILEPATH}}" alt="Metallica">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading" id = "like-heading">{{SONGNAME}} - {{ARTISTNAME}}</h4>
                        {{CONTENT}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    	{% for activities in activity %}
    	{%if current_user.username != activities.username %}
        <div class  = "well" id = "comment">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"><span class="glyphicon glyphicon-comment" id = "comment-icon"></span> {{activities.username}} commented your post! </h4>
                <div class="media mt-2">
                    <a class="media-left" href="/timeline">
                    <img class="media-object" src="{{activities.albumcover}}" alt="Metallica">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading" id = "comment-heading">Metallica</h4>
                        {{activities.content}}
                    <div class = "media mt-2">
                        <a class="media-left" href="#">
                    <img class="media-object" src="{{activities.avatarpath}}" alt="Avatar">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading" id = "comment-heading">{{activities.username}}</h4>
                        <p>{{activities.comment}}</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    {%endif%}
    {% endfor %}
    	{% for CONTENT,FILEPATH,USERNAME in reposts%}
    	{%if current_user.username != USERNAME%}
        <div class  = "well" id = "share">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading"><span class="glyphicon glyphicon-share" id = "share-icon"></span> {{USERNAME}} shared your post!</h4>
                <div class="media mt-2">
                    <a class="media-left" href="#">
                    <img class="media-object" src="{{FILEPATH}}" alt="Generic placeholder image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading" id = "like-heading">Metallica</h4>
                        {{CONTENT}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}


