{% extends "base.html" %}
{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminpanel.css') }}" />
{% endblock %}

{% block layout %}
<div class="">
	<div class="row">
		<div class="col-xs-5 menuitem">
			Genre
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#genre_add">Add</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#genre_update">Update</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#genre_delete">Remove</button>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5 menuitem">
			Song
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#song_add">Add</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#song_update">Update</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#song_delete">Remove</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5 menuitem">
			Album
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#album-add">Add</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#album-update">Update</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#album-delete">Remove</button>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5 menuitem">
			Artist
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#artist_add">Add</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#artist_update">Update</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#artist_delete">Remove</button>
		</div>
	</div>

</div>

<!-- GENRE ADD -->
			<div id="genre_add" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Add a new genre</h4>
						<form align= "center" role="form" action="" method = "post">
							<input type="text" name="genrename" required="required">
							<input type="hidden" name="actiontype" required="required" value ="1">
							<button type="submit" name="addgenre" class="btn btn-default">Add</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- GENRE ADD -->

<!-- GENRE UPDATE -->
			<div id="genre_update" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Update an existing genre</h4>
						<form align= "center" role="form" action="" method= "post">
							<input type="text" name="newname" required="required">
							<input type="hidden" name="actiontype" required="required" value ="2">
							<select name="genreid">
								{% for ID, NAME in allgenre %}
		                            <option value="{{ID}}">{{NAME}}</option>
		                        {% endfor %}
                            </select>
							<button type="submit" name="updategenre" class="btn btn-default">Update</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- GENRE UPDATE -->

<!-- GENRE DELETE -->
			<div id="genre_delete" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Delete a genre</h4>
						<form align= "center" role="form" action="" method= "post">
							<input type="hidden" name="actiontype" required="required" value ="3">
							<select name="genreid">
								{% for ID, NAME in allgenre2 %}
		                            <option value="{{ID}}">{{NAME}}</option>
		                        {% endfor %}
                            </select>
							<button type="submit" name="removegenre" class="btn btn-default">Delete</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- GENRE DELETE -->

<!-- ALBUM ADD -->
			<div id="album-add" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Add a new album</h4>
						<form align= "center" role="form" action="" method = "post">
							<input type="text" name="albumname" required="required" placeholder="Album Name">
							<input type="text" name="albumdate" required="required" placeholder="Release Year(i.e. 1999)">
							<select name="albumcover" id="albumcover">
	                            <option value="1">Beatles</option>
	                            <option value="2">Led Zeppelin</option>
	                            <option value="3">Metallica</option>
                                <option value="4">Pink Floyd</option>
                            </select>
							<input type="hidden" name="actiontype" required="required" value ="4">
							<button type="submit" name="add_album" class="btn btn-default">Add</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- ALBUM ADD -->

<!-- ALBUM DELETE -->
			<div id="album-delete" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Delete an album</h4>
				  		{% for album in albums %}
						<div class="card">
  							<img src="{{album.cover_filepath}}" width="200" height="200">
  							<div class="card-block">
    							<p class="card-text">{{album.name}}({{album.albumdate}})</p>

  							<form align= "center" role="form" action="" method = "post">
  								<input type="hidden" name="albumid" value="{{album.albumid}}">
  								<input type="hidden" name="actiontype" value="5">
  								<button type="submit" name="delete_album" class="btn btn-default">Delete</button>
  							</form>
  							</div>
  						</div>
						{% endfor %}
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- ALBUM DELETE -->

<!-- ALBUM UPDATE -->

			<div id="album-update" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Update an album</h4>
				  		{% for album in albums %}
						<div class="card">
  							<img src="{{album.cover_filepath}}" width="200" height="200">
  							<div class="card-block">
    							<p class="card-text">{{album.name}}({{album.albumdate}})</p>

  							<form align= "center" role="form" action="" method = "post">
  								<input type="text" name="albumname" required="required" placeholder="New Name">
  								<input type="text" name="albumdate" required="required" placeholder="New Year(i.e. 1999)">

  								<select name="albumcover" id="albumcover">
	                            <option value="1">Beatles</option>
	                            <option value="2">Led Zeppelin</option>
	                            <option value="3">Metallica</option>
                                <option value="4">Pink Floyd</option>
                            	</select>

  								<input type="hidden" name="albumid" value="{{album.albumid}}">
  								<input type="hidden" name="actiontype" value="6">
  								<button type="submit" name="update_album" class="btn btn-default">Update</button>
  							</form>
  							</div>
						</div>
						{% endfor %}
					</p>
			      </div>
			    </div>
			  </div>
			</div>

<!-- ALBUM UPDATE -->

<!-- ARTIST ADD -->
			<div id="artist_add" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Add a new artist</h4>
						<form align= "center" role="form" action="" method = "post">
							<input type="text" name="artistname" required="required">
							<input type="hidden" name="actiontype" required="required" value ="7">
							<button type="submit" name="addartist" class="btn btn-default">Add</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- ARTIST ADD -->

<!-- ARTIST UPDATE -->
			<div id="artist_update" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Update an existing artist</h4>
						<form align= "center" role="form" action="" method= "post">
							<input type="text" name="newname" required="required">
							<input type="hidden" name="actiontype" required="required" value ="8">
							<select name="artistid">
								{% for ID, NAME in allartist %}
		                            <option value="{{ID}}">{{NAME}}</option>
		                        {% endfor %}
                            </select>
							<button type="submit" name="updateartist" class="btn btn-default">Update</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- ARTIST UPDATE -->

<!-- ARTIST DELETE -->
			<div id="artist_delete" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Delete an artist</h4>
						<form align= "center" role="form" action="" method= "post">
							<input type="hidden" name="actiontype" required="required" value ="9">
							<select name="artistid">
								{% for ID, NAME in allartist2 %}
		                            <option value="{{ID}}">{{NAME}}</option>
		                        {% endfor %}
                            </select>
							<button type="submit" name="removeartist" class="btn btn-default">Delete</button>
				        </form>
				        <p>WARNING! Deleting an artist will remove all of its songs</p>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- ARTIST DELETE -->

<!-- SONG ADD -->
			<div id="song_add" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Add a new song</h4>
						<form align= "center" role="form" action="" method = "post">
								<p>Song name:
								<input type="text" name="songname" required="required"></p>
							<br>
								<p>Album name:
								<input type="text" name="albumname" required="required"></p>
							<br>
								<p>Select an artist
								<select name="artistid">
									{% for ID, NAME in allartist3 %}
			                            <option value="{{ID}}">{{NAME}}</option>
			                        {% endfor %}
	                            </select></p>
                            <br>
                            	<p>Select a genre:
	                            <select name="genreid">
									{% for ID, NAME in allgenre3 %}
			                            <option value="{{ID}}">{{NAME}}</option>
			                        {% endfor %}
	                            </select></p>
                            <br>
                            	<p>Filepath:
                            	<input type="text" name="filepath" required="required"></p>
							<input type="hidden" name="actiontype" required="required" value ="10">
							<button type="submit" name="addsong" class="btn btn-default">Add</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- SONG ADD -->


<!-- SONG UPDATE -->
			<div id="song_update" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Update an existing song</h4>
						<form align= "center" role="form" action="" method= "post">
							<p>Choose the song to be edited:
								<select name="songid">
									{% for ID, SONG, ARTIST in song_album %}
			                            <option value="{{ID}}">{{ARTIST}} - {{SONG}}</option>
			                        {% endfor %}
	                            </select></p>
	                            <br><br>
							<p>New song name:
								<input type="text" name="songname" required="required"></p>
								<p>New album name:
								<input type="text" name="albumname" required="required"></p>
								<p>New artist
								<select name="artistid">
									{% for ID, NAME in allartist4 %}
			                            <option value="{{ID}}">{{NAME}}</option>
			                        {% endfor %}
	                            </select></p>
                            	<p>New genre:
	                            <select name="genreid">
									{% for ID, NAME in allgenre4 %}
			                            <option value="{{ID}}">{{NAME}}</option>
			                        {% endfor %}
	                            </select></p>
                            	<p>New filepath:
                            	<input type="text" name="filepath" required="required"></p>
							<input type="hidden" name="actiontype" required="required" value ="11">

							<button type="submit" name="updatesong" class="btn btn-default">Update</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- SONG UPDATE -->

<!-- SONG DELETE -->
			<div id="song_delete" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-body">
			        <p>
				  		<h4 align="center">Delete a song</h4>
						<form align= "center" role="form" action="" method= "post">
								<select name="songid">
									{% for ID, SONG, ARTIST in song_album2 %}
			                            <option value="{{ID}}">{{ARTIST}} - {{SONG}}</option>
			                        {% endfor %}
	                            </select>
							<input type="hidden" name="actiontype" required="required" value ="12">

							<button type="submit" name="deletesong" class="btn btn-default">Delete</button>
				        </form>
					</p>
			      </div>
			    </div>
			  </div>
			</div>
<!-- SONG DELETE -->



{% endblock %}