{% extends "profile.html" %}


{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}" />
{% endblock %}


{% block c2 %}

<div class = "timeline">
 <div class = "container">
  <div class = "row_short">
	<div class="row">
        {%set error_message = error_messages%}
        <div class="alert alert-danger page-alert" id="alert-4">
            <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <strong>Oh snap! </strong>{{error_message}}
           
        </div>

	<div class="row">
		<div class="row">

                    <form align = "center" action="timeline/insert" method = "post">
                            <input type="hidden" name="userid" required="required" value = '1'>
			                <input type="text" name="content" required="required">
                            <select name="albumcover" id="albumcover">
	                            <option value="1">Beatles</option>
	                            <option value="2">Led Zeppelin</option>
	                            <option value="3">Metallica</option>
                                <option value="4">Pink Floyd</option>
                            </select>
                            <input type = "hidden" name= "songid" value = '1'>
                           <input type="submit" value="Share" name="share">
                    </form>

	</div>
  </div>
	<div class="row">
        		{% for ID, CONTENT, SONGID, FILEPATH,USERNAME,NUMBER in posts%}
		<div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img src="{{FILEPATH}}" class="img-responsive img-box img-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                 	       <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="First Second">
                                        <img class="circle img-thumbnail img-box" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="First Second">
                                            <small>{{USERNAME}}</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> 3 days ago <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                                        <br>

                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">{{SONGID}}</a></h4>
                        <p>{{CONTENT}}</p>
                    </div>
                    <p align = "center">
                        {% set vars = {'a': True} %}
                   {% for POSTID,LIKEDATE in likes%}
                        {%if POSTID == ID %}
                          {% if vars.update({'a': False}) %} {% endif %}
                  	         <a href="{{ url_for('like_post', LIKEID=ID , USERNAME = USERNAME) }}" > <i class="glyphicon glyphicon-heart" style="color:red"></i> Likes ({{NUMBER}}) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                            </a>
                        {%endif%}
                    {% endfor %}
                        {%if vars.a %}
                            <a href="{{ url_for('like_post', LIKEID=ID,  USERNAME = USERNAME) }}"> <i class="glyphicon glyphicon-heart" style="color:grey"></i> Likes ({{NUMBER}}) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                        {%endif%}

                  	&nbsp;&nbsp;&nbsp; <a href="#"> <i class="glyphicon glyphicon-play-circle"></i> Play <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>

                	&nbsp;&nbsp;&nbsp;<a href="{{ url_for('comment_page', COMMENTID=ID) }}"> <i class="glyphicon glyphicon-pencil"></i>  Comments(10) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	&nbsp;&nbsp;&nbsp;<a href="#"> <i class="glyphicon glyphicon-share-alt"></i>  Share <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ url_for('timeline_page_delete', DELETEID=ID) }}"> <i class="glyphicon glyphicon-remove"></i>  Remove <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                    &nbsp;&nbsp;&nbsp;<a href="{{ url_for('timeline_page_update', UPDATEID=ID) }}"> <i class="glyphicon glyphicon-check"></i>  Update <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	</p>
                </div>
                <hr>
        	{% endfor %}
	</div>
  </div>
 </div>
</div>








{% endblock %}