{% extends "layout.html" %}
{% block title %}Messages{% endblock %}
{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}"/>
{% endblock %}

{% block content %}

    <div class="messages">


        <div class="input-group message_filter">
            <span class="input-group-btn">
                <a class="btn btn-default" type="button" data-toggle="modal" data-target="#newConversationModal">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; New Conversation
                </a>
            </span>
            <input type="text" class="form-control" placeholder="Search Friend" disabled>

            <span class="input-group-btn">
                <button class="btn btn-default disabled" type="button"> <span class="glyphicon glyphicon-search"></span></button>
            </span>

        </div>


        <div class="left_col">
            <div class="list-group message_userlist">
                {% for room in Rooms %}
                    <a href="{{ url_for('messages_page') }}/{{ room.id }}"
                            {%- if room.id == SelectedRoom.id %} class="list-group-item list-group-item-info">
                            {%- else %} class="list-group-item list-group-item">
                            {% endif %}
                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="40px"/>
                    {#                            <span class="badge">14</span> todo unread message count #}
                    <h4 class="list-group-item-heading">{{ room.get_display_name() }}</h4>
                    <p class="list-group-item-text">{{ room.id }}</p>
                    <div class="clearfix"></div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="right_col">

            {% if SelectedRoom is not none %}
                <form method="post" action="{{ url_for('messages_new_message') }}">

                    <div class="panel panel-default message_history">

                        <div class="panel-heading">
                        {% if SelectedRoom.name %}
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">
                             {{ SelectedRoom.name }}
                            </span>
                        {% endif %}
                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                            {%- for p in SelectedRoom.participants %}
                                {{ p -}}
                            {% endfor %}
                        </span>
                            <a href="{{ url_for('messages_page') }}" type="button" class="close">&times;</a>
                        </div>

                        <div id="message_area" class="panel-body">
                            {#                    <div class="media message_item"> todo incoming message styles#}
                            {#                        <div class="media-left">#}
                            {#                            <a href="#">#}
                            {#                                <img class="media-object" src="{{ url_for('static', filename='images/logo.jpg') }}"#}
                            {#                                     width="53px">#}
                            {#                            </a>#}
                            {#                        </div>#}
                            {#                        <div class="media-body alert alert-success">#}
                            {#                            Gelen Mesaj#}
                            {#                        </div>#}
                            {#                        <div class="media-bottom">#}
                            {#                            <span data-toggle="tooltip" data-placement="top" title="dd.mm.yyyy">hh:mm</span>#}
                            {#                        </div>#}
                            {#                    </div>#}
                            {#                    <div class="clearfix"></div>#}

                            {% for message in SelectedRoom.messages %}
                                <div class="media message_item message_outgoing">
                                    <div class="media-right">
                                        <a href="#">
                                            {# todo message sender profile info #}
                                            <img class="media-object" src="{{ url_for('static', filename='images/logo.jpg') }}">
                                        </a>
                                    </div>
                                    <div class="media-body alert alert-info">
                                        {{ message.text }}
                                    </div>
                                    <div class="media-bottom">
                                        <span data-toggle="tooltip" data-placement="top" title="{{ message.date.date().strftime("%d.%m.%y") }}">
                                            {{ message.date.time().strftime("%H:%M") }}
                                        </span>
                                        <span class="glyphicon glyphicon-ok status" data-toggle="tooltip" data-placement="top" title="Delivered">
                                        </span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="panel panel-default message_action">
                        <div class="panel-body">
                            <textarea name="message" class="form-control" placeholder="Write a message..." rows="4"></textarea>
                        </div>
                        <div class="panel-footer">
                            <input type="hidden" name="room_id" value="{{ SelectedRoom.id }}">
                            <button type="submit" class="btn btn-primary pull-right">
                                Send
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </button>
                            <a href="{{ url_for('messages_page') }}" type="button" class="btn btn-default pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                                Cancel
                            </a>
                            <div class="btn-group dropup">
                                <a type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#editConversationModal">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Edit Conversation
                                </a>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="" data-toggle="modal" data-target="#deleteConfirmationModal">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            Delete Conversation
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>

            {% else %}
                {# todo No Message Room Selected Insert new conversation button #}
            {% endif %}

        </div>

    </div>




    <!-- Delete Conversation Approval Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Entire Conversation?</h4>
                </div>
                <div class="modal-body">
                    Are you sure to delete all messages in this conversation?
                    <p>This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ url_for('messages_delete_room') }}">
                        <input type="hidden" name="room_id" value="{{ SelectedRoom.id }}">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            &nbsp;Delete Conversation
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- New Conversation Modal -->
    <div class="modal fade" id="newConversationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="{{ url_for('messages_new_room') }}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Start New Conversation With:</h4>
                    </div>
                    <div class="modal-body">

                        <table id="newRoomFrList" class="table table-bordered">
                            <tbody>

                            {% for i in range(10) %} {# range(User.friends|count) #}
                                {% if loop.index0 % 3 == 0 %}
                                    <tr> {% endif %}

                            <td>
                                <label>
                                    <input name="participants" type="checkbox" value="pk{{ loop.index0 + 2 }}">
                                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="30px"/> {# todo user profile #}
                                    pk{{ loop.index0 + 2 }} isim soyisim
                                </label>
                            </td>

                            {% if loop.index0 % 3 == 2 %} </tr> {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="clearfix"></div>

                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-6 input-group" style="float: left;">
                            <span class="input-group-addon">Group Name (Optional) :</span>
                            <input type="text" class="form-control" name="group_name">
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="btnNewConversation" type="submit" value="submit_new_group" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            &nbsp;&nbsp;Start New Conversation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Conversation Modal -->
    <div class="modal fade" id="editConversationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form method="post" action="{{ url_for('messages_update_room') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Start New Conversation With:</h4>
                    </div>
                    <div class="modal-body">

                        <table class="table table-bordered">
                            <tbody>

                            {% for i in range(10) %}
                                {% if loop.index0 % 3 == 0 %}
                                    <tr> {% endif %}

                            <td>
                                <label>
                                    <input name="participants" type="checkbox" value="pk{{ loop.index0 + 2 }}" disabled
                                            {% if "pk"~(loop.index0 + 2) in SelectedRoom.participants %} checked {% endif %}>
                                    <img src="{{ url_for('static', filename='images/logo.jpg') }}" width="30px"/> {# todo user profile #}
                                    pk{{ loop.index0 + 2 }} isim soyisim
                                </label>
                            </td>

                            {% if loop.index0 % 3 == 2 %} </tr> {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="clearfix"></div>

                    </div>

                    <div class="modal-footer">
                        <div class="col-sm-6 input-group" style="float: left;">
                            <span class="input-group-addon">Group Name (Optional) :</span>
                            <input type="text" class="form-control" name="group_name" value="{{ SelectedRoom.name|default("", True) }}">
                        </div>
                        <input type="hidden" name="room_id" value="{{ SelectedRoom.id }}">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="btnNewConversation" type="submit" value="submit_new_group" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp;Update Conversation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# check friend list for at least 1 friend should be selected  #}
    <script type="text/javascript">

        var checkFriendList = function (area) {
            if (area.find(":input[type=checkbox]:checked").length == 0) {
                alert("You must select at least one friend.");
                return false;
            }
        };

        $(document).ready(function () {

            var objDiv = document.getElementById("message_area");
            if (objDiv != null)
                objDiv.scrollTop = objDiv.scrollHeight;

            $('#btnNewConversation').click(function () {
                return checkFriendList($("#newRoomFrList"));
            });
        })

    </script>

{% endblock %}