{% extends "layout.html" %}
{% block title %}Listnto{% endblock %}
{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_music.css') }}"/>
{% endblock %}

{% block content %}

	<div class="musicspage">

		<div class ="row">
			<div class="col-xs-2">
				<div class="row">
					<div class="col-xs-4">
					</div>
					<div class="col-xs-8">
						<button type="button" class="btn btn-primary btn-block" data-toggle="tab" href="#artists">Artists</button>
						<button type="button" class="btn btn-primary btn-block" data-toggle="tab" href="#albums">Albums</button>
					</div>
				</div>
			</div>

			<div class="col-xs-10 tab-content"> <!-- artists and albums inside -->
				<div class="col-xs-4 left_holder tab-content">  <!-- LEFT HOLDER -->
				<!--------------------------------------- artists ---------------------------------------->
					<div class="tab-pane fade in active col-xs-12" id="artists">
						<div class="row col-xs-6">
						{% for ID, NAME, PICTUREID, HREF in allartist[0::2] %}
							<div class="col-xs-12">
								    <a href="#{{HREF}}_artist" class="thumbnail" data-toggle="tab">
								      <img src="{{PICTUREID}}" alt="cover" width="128" height="128">
								      <p class="name">{{NAME}}</p>
								    </a>
								  </div>
						{% endfor %}
						</div>
						<div class="row col-xs-6">
						{% for ID, NAME, PICTUREID, HREF in allartist[1::2] %}
							<div class="col-xs-12">
								    <a href="#{{HREF}}_artist" class="thumbnail" data-toggle="tab">
								      <img src="{{PICTUREID}}" alt="cover" width="128" height="128">
								      <p class="name">{{NAME}}</p>
								    </a>
								  </div>

						{% endfor %}
						</div>
					</div>
					<!--------------------------------------- artists ---------------------------------------->

					<!--------------------------------------- albums ----------------------------------------->
					<div class="tab-pane fade in col-xs-12" id="albums">
						<div class="row col-xs-6">
						{% for album, HREF in albums[0::2] %}
							<div class="col-xs-12">
								    <a href="#{{HREF}}_album" class="thumbnail" data-toggle="tab">
								      <img src="{{album.cover_filepath}}" alt="cover" width="128" height="128">
								      <p class="name">{{album.name}}</p>
								      <p class="song_count">({{album.albumdate}})</p>
								    </a>
								  </div>
						{% endfor %}
						</div>
						<div class="row col-xs-6">
						{% for album, HREF in albums[1::2] %}
							<div class="col-xs-12">
								    <a href="#{{HREF}}_album" class="thumbnail" data-toggle="tab">
								      <img src="{{album.cover_filepath}}" alt="cover" width="128" height="128">
								      <p class="name">{{album.name}}</p>
								      <p class="song_count">({{album.albumdate}})</p>
								    </a>
								  </div>

						{% endfor %}
						</div>
					</div>
					<!--------------------------------------- albums ----------------------------------------->
				</div><!-------------------------------------------LEFT HOLDER------------------------------------------------------------->


				<div class="col-xs-6"><!-- not the right holder this is just to add a divider in between -->
							<div class="row">
								<div class="col-xs-1">
									<!-- divider -->
								</div>
								<div class="col-xs-11 right_holder"> <!-- Right holder -->
									<div class="tab-content"><!-- ALL SONGS ARE HERE -->
										{% for ARTISTNAME, songs in songsbyartists %}
										<div id="{{ARTISTNAME}}_artist" class="tab-pane fade">
											<div class="panel-group">
												{% for ID, SONGNAME, FILEPATH in songs %}
												<div class="panel panel-default">
											  		<div class="panel-heading">{{SONGNAME}}</div>
											    	<div class="panel-body">
											    		<audio controls style="width: 94%;" src="{{FILEPATH}}" preload="auto"></audio>
											    		<a href="JavaScript:newPopup('/share/{{ID}}');">
												    		<img alt="Logo" src="{{ url_for('static', filename='images/logo/logo_vector.svg') }}"
				        										 align="right" width = "5%">
			        									</a>
													</div>
											 	</div>
											 	{% endfor %}
											</div>
										</div>
										{% endfor %}
										{% for ALBUMNAME, songs in songsbyalbums %}
										<div id="{{ALBUMNAME}}_album" class="tab-pane fade">
											<div class="panel-group">
												{% for ID, SONGNAME, FILEPATH in songs %}
												<div class="panel panel-default">
											  		<div class="panel-heading">{{SONGNAME}}</div>
											    	<div class="panel-body">
											    		<audio controls style="width: 94%;" src="{{FILEPATH}}" preload="auto"></audio>
											    		<a href="JavaScript:newPopup('/share/{{ID}}');">
												    		<img alt="Logo" src="{{ url_for('static', filename='images/logo/logo_vector.svg') }}"
				        										 align="right" width = "5%">
			        									</a>
													</div>
											 	</div>
											 	{% endfor %}
											</div>
										</div>
										{% endfor %}




									</div>
								</div> <!-- Right holder -->
							</div><!-- row -->
						</div><!-- not the right holder this is just to add a divider in between -->
			</div><!-- col-xs-10 -->
		</div><!--  main row -->
	</div>

<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=300,width=600,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
//stop playing music when a new one starts
$("audio").on("play", function(){
    var _this = $(this);
    $("audio").each(function(i,el){
        if(!$(el).is(_this))
            $(el).get(0).pause();
    });
});
</script>


{% endblock %}