
{% block c2 %}

		<table border="1">
			<tr align="center">
				<th colspan="3">Users</th>
			</tr>
			<tr>
				<th>ID</th>
				<th>USERNAME</th>
				<th>PASSWORD</th>
			</tr>
			{% for ID,USERNAME, PASSWORD in users%}
			<tr>
				<td>{{ID}}</td>
				<td>{{USERNAME}}</td>
				<td>{{PASSWORD}}</td>
			</tr>
			{% endfor %}
		</table>
		</br></br>
		<table border="1">
			<tr align="center">
				<th colspan="7">User Details</th>
			</tr>
			<tr>
				<th>USERNAME</th>
				<th>PASSWORD</th>
				<th>USERID</th>
				<th>NAME</th>
				<th>SURNAME</th>
				<th>EMAIL</th>
				<th>PHONENUMBER</th>
			</tr>
			{% for USERNAME, PASSWORD, USERID,NAME,SURNAME,EMAIL,PHONENUMBER in userdetails%}
			<tr>
				<td>{{USERNAME}}</td>
				<td>{{PASSWORD}}</td>
				<td>{{USERID}}</td>
				<td>{{NAME}}</td>
				<td>{{SURNAME}}</td>
				<td>{{EMAIL}}</td>
				<td>{{PHONENUMBER}}</td>
			</tr>
			{% endfor %}
		</table>






{% endblock %}
</br></br>
Add User Details
<form action = "/insert_details" method = "POST">
	<table>
		<tr>
			<td>userid</td>
			<td><input type = "text" name = "userid" /></td>
		</tr>

		<tr>
			<td>name</td>
			<td><input type = "text" name = "name" /></td>
		</tr>
		<tr>
			<td>surname</td>
			<td><input type = "text" name = "surname" /></td>
		</tr>
		<tr>
			<td>email</td>
			<td><input type = "text" name = "email" /></td>
		</tr>
		<tr>
			<td>phonenum</td>
			<td><input type = "text" name = "phonenum" /></td>
		</tr>
	</table>
         <p><input type = "submit" value = "Add" /></p>

</form>
</br></br>
Update User Details
<form action = "/update" method = "POST">
	<table>
		<tr>
			<td>older name</td>
			<td><input type = "text" name = "older_name" /></td>
		</tr>

		<tr>
			<td>new name</td>
			<td><input type = "text" name = "name" /></td>
		</tr>
		<tr>
			<td>new surname</td>
			<td><input type = "text" name = "surname" /></td>
		</tr>
		<tr>
			<td>new email</td>
			<td><input type = "text" name = "email" /></td>
		</tr>
		<tr>
			<td>new phonenum</td>
			<td><input type = "text" name = "phonenum" /></td>
		</tr>
		<tr>
			<td>new userid</td>
			<td><input type = "text" name = "userid" /></td>
		</tr>
	</table>
         <p><input type = "submit" value = "Update" /></p>

</form>

</br></br>
Delete Userdetails
<form action = "/delete" method = "POST">
	<table>
		<tr>
			<td>name</td>
			<td><input type = "text" name = "name" /></td>
		</tr>

		<tr>
			<td>surname</td>
			<td><input type = "text" name = "surname" /></td>
		</tr>
	</table>
         <p><input type = "submit" value = "Delete" /></p>

</form>
</br></br>
<form action = "/gototimeline" method = "POST">
	<input type ="submit" value ="Go to Timeline"/>
</form>


