
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="well"">
<div class="container">

{%if name == None%}
	{%if surname == None%}
		{%if mail == None%}
			{%if phone == None%}

		<h2>Add User Details</h2>
  		<div class="table-responsive">
		<form action = "/insert_details" method = "POST">
  		<table class="table">
    			<tbody>
      				<tr class="success">
        				<td>Username</td>
					<td></td>
        				<td>{{current_user.username}}</td>
      				</tr>
      				<tr class="info">
        				<td>Name</td>
					<td></td>
        				<td><input type = "text" name = "name" /></td>
      				</tr>
      				<tr class="info">
        				<td>Surname</td>
					<td></td>
        				<td><input type = "text" name = "surname" /></td>
      				</tr>
      				<tr class="info">
        				<td>E-mail</td>
					<td></td>
        				<td><input type = "text" name = "email" /></td>
      				</tr>
      				<tr class = info>
        				<td>Phone Number</td>
					<td></td>
        				<td><input type = "text" name = "phonenum" /></td>
      				</tr>
      				<tr class = info>
        				<td></td>
					<td></td>
        				<td><button type="submit" value = "Add" class="btn btn-danger">Add</button></td>
      				</tr>
    		    </tbody>
 		 </table>
         	</form>
 	 </div>

			{%endif%}
		{%endif%}
	{%endif%}
{%else%}

  <h2>User Details</h2>
  <div class="table-responsive">
  <table class="table">
    <tbody>
      <tr class="success">
        <td>Username</td>
        <td colspan="2">{{current_user.username}}</td>
      </tr>
      <tr class="info">
        <td>Name</td>
        <td>{{name}}</td>
        <td><button type="button" class="btn-lg btn-info " data-toggle="modal" data-target="#update_name">Update </button></td>
      </tr>
      <tr class="info">
        <td>Surname</td>
        <td>{{surname}}</td>
        <td><button type="button" class="btn-lg btn-info " data-toggle="modal" data-target="#update_surname">Update </button></td>
      </tr>
      <tr class="info">
        <td>E-mail</td>
        <td>{{mail}}</td>
        <td><button type="button" class="btn-lg btn-info " data-toggle="modal" data-target="#update_email">Update </button></td>
      </tr>
      <tr class = info>
        <td>Phone Number</td>
        <td>{{phone}}</td>
        <td><button type="button" class="btn-lg btn-info " data-toggle="modal" data-target="#update_phone">Update </button></td>
      </tr>
    </tbody>
  </table>
  </div>
  <form action = "/gototimeline" method = "POST">
	<button type="submit" value = "Go to Timeline" class="btn btn-success">Go to Timeline</button>
	</form>
</br>
<form action = "/deleteuserdetails" method = "POST">
	<button type="button" class="btn-lg btn-danger" data-toggle="modal" data-target="#delete_details">Delete Userdetails</button>
	</form>
{%endif%}
</div>

</body>
</html>

<div id="delete_details" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="login-form-1">
		<form id="delete-details-form" class="text-left" method="post" action="/deleteuserdetails">
						Password
                           			<input type="password" name="password" required="required"/>

		</form>
	</div>
      </div>
      <div class="modal-footer">
        <button type="submit" value="Send" class="btn btn-danger" form="delete-details-form">Delete User Details</button>
      </div>
    </div>

  </div>
</div>

<div id="update_name" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="login-form-1">
		<form id="login-form" class="text-left" method="post" action="/update_userdetails">
						Name
                           			<input type="text" name="update_name" required="required"/>
						<input type="hidden" name="form_type" value ="1"/>

		</form>
	</div>
      </div>
      <div class="modal-footer">
        <button type="submit" value="Send" class="btn btn-default" form="login-form">Update</button>
      </div>
    </div>

  </div>
</div>

<div id="update_surname" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="login-form-1">
		<form id="login-form2" class="text-left" method="post" action="/update_userdetails">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						Surname
                           			<input type="text" name="update_surname" required="required"/>
					<input type="hidden" name="form_type" value ="2"/>
					</div>
				</div>
			</div>
		</form>
	</div>
      </div>
      <div class="modal-footer">
        <button type="submit" value="Send" class="btn btn-default" form="login-form2">Update</button>
      </div>
    </div>

  </div>
</div>


<div id="update_email" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="login-form-1">
		<form id="login-form3" class="text-left" method="post" action="/update_userdetails">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						Email
                           			<input type="email" name="update_email" required="required"/>
						<input type="hidden" name="form_type" value ="3"/>

					</div>
				</div>
			</div>
		</form>
	</div>
      </div>
      <div class="modal-footer">
       	<button type="submit" value="Send" class="btn btn-default" form="login-form3">Update</button>
      </div>
    </div>

  </div>
</div>


<div id="update_phone" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="login-form-1">
		<form id="login-form4" class="text-left" method="post" action="/update_userdetails">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						Phonenum
                           			<input type="text" name="update_phone" required ="required"/>
						<input type="hidden" name="form_type" value ="4"/>
					</div>
				</div>
			</div>
		</form>
	</div>
      </div>
      <div class="modal-footer">
        <button type="submit" value="Send" class="btn btn-default" form="login-form4">Update</button>
      </div>
    </div>

  </div>
</div>

