{% extends "profile.html" %}


{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
{% endblock %}


{% block c2 %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<div class = "timeline">
 <div class = "container">
  <div class = "row_short">

	<div class="row">
		<div class="row">

                    <form align = "right" action="../../timeline/insert" method = "post">
			                 <div class="panel-body">
                            <textarea name="content" class="form-control" placeholder="What's going on..." rows="4" maxlength='100' required = "required"></textarea>
                            </div>
                            <select class="selectpicker" data-style="btn-info" name = "songid" data-live-search="true">
                               {%for ID,SONGNAME,ARTISTNAME in songs%}
                                <option value="{{ID}}">{{ARTISTNAME}} - {{SONGNAME}}</option>
	                            {%endfor%}
                            </select>
                            
                           <button type="submit" class="btn btn-primary pull-right">
                                Share
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </button>
                            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#reposts">
                            See reposts!
                            </button>
                    </form>

	</div>
  </div>
      <hr>
      {%if posts%}

      {%else%}
      <div class="alert alert-info page-alert" id="alert-4">
            <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <strong>What an active user!</strong> There is no post belong to you!

        </div>
      {%endif%}
	<div class="row">
        		{% for SONGPATH,ID, CONTENT, POSTDATE, SONGNAME,ARTISTNAME,FILEPATH,NUMBER,USERNAME in posts%}
		<div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img src="{{FILEPATH}}" class="img-responsive img-box img-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                 	       <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="First Second">
                                        <img class="circle img-thumbnail img-box" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="First Second">
                                            <small>{{USERNAME}}</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> {{POSTDATE}} <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                                        <br>

                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">{{ARTISTNAME}} - {{SONGNAME}}</a></h4>
                        <p>{{CONTENT}}</p>
                    </div>
                    <p align = "center">
                        {% set vars = {'a': True} %}
                   {% for POSTID,LIKEDATE in likes%}
                        {%if POSTID == ID %}
                          {% if vars.update({'a': False}) %} {% endif %}
                  	         <a href="{{ url_for('like_post', LIKEID=ID , USERNAME = USERNAME) }}" > <i class="glyphicon glyphicon-heart" style="color:red"></i> Likes ({{NUMBER}}) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                            </a>
                        {%endif%}
                    {% endfor %}
                        {%if vars.a %}
                            <a href="{{ url_for('like_post', LIKEID=ID,  USERNAME = USERNAME) }}"> <i class="glyphicon glyphicon-heart" style="color:grey"></i> Likes ({{NUMBER}}) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                        {%endif%}


                	&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('comment_page', COMMENTID=ID) }}"> <i class="glyphicon glyphicon-pencil"></i>  Comments <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"> <i class="glyphicon glyphicon-share-alt"></i>  Share <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('timeline_page_delete', DELETEID=ID) }}"> <i class="glyphicon glyphicon-remove"></i>  Remove <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('timeline_page_update', UPDATEID=ID) }}"> <i class="glyphicon glyphicon-check"></i>  Update <span class="twitter"> <i class="fa fa-twitter"></i> </span> </a>
                           <audio controls style="width: 100%;" src="{{SONGPATH}}" preload="auto" />
                       
                	</p>
                </div>
                <hr>
        	{% endfor %}
	</div>
  </div>
 </div>
</div>

<!-- REPOSTS -->
<div id="reposts" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
			 <p>
				<h4 align="center">Reposts of {{current_user.username}}</h4>
				<hr>
				<div class="row">
        			{% for ID, CONTENT, SONGNAME, ARTISTNAME, FILEPATH,USERNAME,POSTDATE,SHAREDATE in reposts%}
				<div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img src="{{FILEPATH}}" class="img-responsive img-box img-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                 	       <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="First Second">
                                        <img class="circle img-thumbnail img-box" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="First Second">
                                            <small>{{USERNAME}}</small>
                                        </a>
                                        <small style="float:right" title="Sharing time">
                                            <i class="glyphicon glyphicon-time"></i><small>{{SHAREDATE}}</small><span class="twitter"> <i class="fa fa-twitter"></i> </span>
                                        </small>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> {{POSTDATE}} <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                                        <br>

                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">{{SONGNAME}} - {{ ARTISTNAME}}</a></h4>
                        <p>{{CONTENT}}</p>
                        <a href="{{ url_for('repost_delete_page', repost_deleteID=ID) }}" title="Delete"> <i class="glyphicon glyphicon-remove" style="float:right; margin-right:10px; padding-top:0px" ></i><span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                    </div>
                </div>
                <hr>
        	{% endfor %}
				</div>
				</p>
			</div>
		</div>
	</div>
</div>


<!-- REPOSTS -->
<script>

$("audio").on("play", function(){
    var _this = $(this);
    $("audio").each(function(i,el){
        if(!$(el).is(_this))
            $(el).get(0).pause();
    });
});
</script>





{% endblock %}
