{% extends "profile.html" %}


{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}" />
{% endblock %}


{% block c2 %}
<div class = "timeline">
<div class="container">
<div class = "row_short">
	<div class="row">
		<div class="row"> 
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/pinkfloyd.jpg') }}" class="img-responsive img-box img-thumbnail"> 
                        </a>
                    </div> 
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="First Second">
                                        <img class="circle img-thumbnail img-box" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="First Second">
                                            <small>First Second</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> 3 days ago via <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                                        <br>
                           
                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Pink Floyd</a></h4>
                        <p>content content content content content content content content content content content content content content content content</p>
                    </div> 
                    <p align = "center">
                  	<a href="#"> <i class="glyphicon glyphicon-heart-empty"></i> Likes (100) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                  	&nbsp&nbsp&nbsp <a href="#"> <i class="glyphicon glyphicon-play-circle"></i> Play <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                
                	&nbsp&nbsp&nbsp<a href="#"> <i class="glyphicon glyphicon-pencil"></i>  Comments(10) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	&nbsp&nbsp&nbsp<a href="#"> <i class="glyphicon glyphicon-share-alt"></i>  Share <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                
                	</p>
                </div>
                <hr>

                <div class="row"> 
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/beatles.jpg') }}" class="img-responsive img-box img-thumbnail"> 
                        </a>
                    </div> 
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="First Second">
                                        <img class="circle img-thumbnail img-box" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="sintret">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="First Second">
                                            <small>First Second</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> 1 month ago via <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                                        <br>
                           
                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Beatles</a></h4>
                        <p>Content content content content content content content content content content content content content content content content content </p>
                    </div> 
                  	<p align = "center">
                  	<a href="#"> <i class="glyphicon glyphicon-heart-empty"></i> Likes (100) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                  	&nbsp&nbsp&nbsp <a href="#"> <i class="glyphicon glyphicon-play-circle"></i> Play <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	&nbsp&nbsp&nbsp<a href="#"> <i class="glyphicon glyphicon-pencil"></i>  Comments(10) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	&nbsp&nbsp&nbsp<a href="#"> <i class="glyphicon glyphicon-share-alt"></i>  Share <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                
                	</p>
                </div>
                <hr>


                <div class="row"> 
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img src="{{ url_for('static', filename='images/ledzeplin.jpg') }}" class="img-responsive img-box img-thumbnail"> 
                        </a>
                    </div> 
                    <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="First Second">
                                        <img class="circle img-thumbnail img-box" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="First Second">
                                            <small>First Second</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> 1 month ago via <span class="twitter"> <i class="fa fa-twitter"></i></span>
                                        <br>
                            
                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Led Zeppelin</a></h4>
                        <p>content content content content contentcontent content content contentcontent content content contentcontent content content contentcontent content content contentcontent content content contentcontent content content content</p>
				<p align = "center">
                  	<a href="#"> <i class="glyphicon glyphicon-heart-empty"></i> Likes (100) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                  	&nbsp&nbsp&nbsp <a href="#"> <i class="glyphicon glyphicon-play-circle"></i> Play <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	&nbsp&nbsp&nbsp<a href="#"> <i class="glyphicon glyphicon-pencil"></i>  Comments(10) <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                	&nbsp&nbsp&nbsp<a href="#"> <i class="glyphicon glyphicon-share-alt"></i>  Share <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                	</a>
                
                	</p>
                    </div> 
                 
                </div>
                <hr>
	</div>
</div>
</div>
</div>






{% endblock %}