{% extends "profile.html" %}


{% block static_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />
 	<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}" />
{% endblock %}


{% block c2 %}
<div class = "timeline">
 <div class = "container">
  <div class = "row_short">
	<div class="row">
        		{% for ID, CONTENT, POSTDATE, SONGNAME,ARTISTNAME,FILEPATH,PICTUREID,USERNAME in posts %}
		<div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a href="#">
                            <img src="{{FILEPATH}}" class="img-responsive img-box img-thumbnail">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9">
                 	       <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="#" title="First Second">
                                        <img class="circle img-thumbnail img-box" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="logo">
                                    </a>
                                </div>
                                <div class="row-content">
                                    <div class="list-group-item-heading">
                                        <a href="#" title="First Second">
                                            <small>{{USERNAME}}</small>
                                        </a>
                                    </div>
                                    <small>
                                        <i class="glyphicon glyphicon-time"></i> {{POSTDATE}} <span class="twitter"> <i class="fa fa-twitter"></i> </span>
                                        <br>

                                    </small>
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">{{ARTISTNAME}} - {{SONGNAME}}</a></h4>
                        <form action="APPLY" method = "post">
                            <input type="text" name="content" required="required" value="{{CONTENT}}">
                            <input type="submit" value="Update Post" name="add">
                        </form>
                    </div>
                </div>
                <hr>
        	{% endfor %}
                        
	</div>
  </div>
 </div>
</div>






{% endblock %}
